# LinkedIn OAuth Credentials
LINKEDIN_CLIENT_ID=86w1vh0yhlkq2h
LINKEDIN_CLIENT_SECRET=
LINKEDIN_REDIRECT_URI=http://localhost:8000/callback

# After running auth.py, you will get this token:
LINKEDIN_ACCESS_TOKEN=
# And this LinkedIn URN (person ID):
LINKEDIN_PERSON_URN=

# OpenAI
OPENAI_API_KEY=
